# Lets run on the new infrastructure
sudo: false

# We're having issues on the default Trusty setup, lets wait for now
dist: precise

language: python
python:
  - "3.5"

env:
  - DJANGO_VERSION='1.8'
  - DJANGO_VERSION='1.10'
  - DJANGO_VERSION='1.11'

before_install:
  - pip install codecov
  - pip install coveralls

install:
  - pip install tox

# command to run tests
script:
# Start a few workers
  - tox -e pep8
  - tox -e dj$DJANGO_VERSION-test --skip-missing-interpreters

after_success:
  - coveralls
  - codecov

matrix:
  allow_failures:
    - env: DJANGO_VERSION='1.11'
